# Python
.venv/
__pycache__/
*.pyc

# Env
.env

# Airflow
airflow/logs/
airflow/airflow.db
airflow/airflow.db-shm
airflow/airflow.db-wal
airflow/simple_auth_manager_passwords.json.generated
airflow/airflow.cfg

# dbt
dbt_project/my_dbt_project/target/
dbt_project/my_dbt_project/logs/
dbt_project/logs/

# OS / editor
.DS_Store
.vscode/